<article>
  <ul>
    {% if show_posts %}
    <a href="{% url 'posts:profile' post.author %}">
      все посты пользователя {{ post.author.get_full_name }}</a>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
    <p>{{ post.text|linebreaksbr }}</p>
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
    {% endif %}
    {% if show_group %}
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
    <p>{{ post.text|linebreaksbr }}</p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endif %}
</article>
