{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.username }} {% endblock %}
{% block content %}
  <body>       
    <div class="container py-5">        
      <h1>Все посты пользователя {{ author.get_full_name }}</h1>
        <h3>Всего постов: {{ post_count }} </h3> 
        {% for post in page_obj %}  
        <article>
          <ul>
            <li>
              Автор: {{ author.get_full_name }}
              <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a> {# не трогай! #}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
          </ul>
            <p>
              {{ post.text }}
            </p>
            <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a> {# не трогай! #}
        </article>       
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a> {# не трогай! #}
        {% endif %}        
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
    {% include 'posts/includes/paginator.html' %}
  </body>
{% endblock %}